<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/element-ui/lib/theme-chalk/index.css') }}">
    <style>
        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 50%;
            height: 70%;
        }

        .card-header {
            text-align: center;
        }

        .btn-primary {
            margin-top: 100px;
            margin-left: 25%;
            width: 50%;
            font-size: 1.2em;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div class="card mx-auto">
        <div class="card-header">
            <h3 class="mb-0">登录</h3>
        </div>
        <div class="card-body">
            <form @submit="submitForm">
                <div class="form-group">
                    <label for="identifier">账号</label>
                    <input type="text" class="form-control" id="identifier" v-model="identifier" required>
                    <p class="text-danger" v-if="identifierError">{{ identifierError }}</p>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" v-model="password" required>
                    <p class="text-danger" v-if="passwordError">{{ passwordError }}</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">登录</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <p class="text-center">没有账户? <a href="{{ url_for('register') }}">注册</a></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='node_modules/vue/dist/vue.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/element-ui/lib/index.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='node_modules/axios/dist/axios.min.js') }}"></script>
<script>
    Vue.use(ELEMENT);
    new Vue({
        el: '#app',
        data: {
            identifier: '',
            password: '',
            identifierError: '',
            passwordError: ''
        },
        methods: {
            validateForm() {
                let isValid = true;
                if (!this.identifier) {
                    this.identifierError = '账号不能为空';
                    isValid = false;
                } else {
                    this.identifierError = '';
                }
                if (!this.password) {
                    this.passwordError = '密码不能为空';
                    isValid = false;
                } else {
                    this.passwordError = '';
                }
                return isValid;
            },
            submitForm(event) {
                event.preventDefault();
                if (this.validateForm()) {
                    axios.post('/login', {
                        username: this.identifier,
                        password: this.password
                    })
                        .then(response => {
                            console.log(response);
                            console.log(response.data)
                            if (response.data.status === 'success') {
                                window.location.href = "/nr";
                            }
                            else if (response.data.status === 'banned') {
                                window.location.href = "/fh";
                            }
                            else {
                                this.identifierError = response.data.message;
                                this.passwordError = response.data.message;
                                alert(response.data.message);
                            }
                        })
                        .catch(error => {
                            console.error(error);
                            this.identifierError = '出现了错误，请稍后再试';
                            this.passwordError = '出现了错误，请稍后再试';
                        });
                }

            }
        }
    });
</script>
</body>
</html>
